@model FoodDefence.Models.TAREA

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="callout callout-primary">

    <h4><i class="fa fa-bug"></i> Nueva Acción</h4>
    <br />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                Tipo de Trampa
                <div class="col-md-10">
                    @Html.DropDownList("idTipoTrampa", null, "Seleccione un tipo de trampa", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.idTipoTrampa, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                Descripción
                <div class="col-md-10">
                    @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-outline-success" /> 
                @Html.ActionLink("Volver al listado", "Index", null, new { @class = "btn btn-outline-primary" })
            </div>

            <div id="validaciones" class="alert alert-danger" role="alert">
                <button class="close" data-dismiss="alert"><span>&times;</span></button>
                @ViewBag.ValidacionesTarea
            </div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    var Ingreso = '@ViewBag.ValidacionesTarea'

    $(document).ready(function () {
        if(Ingreso!='')
        {
            $("#validaciones").show();
            $("#validaciones").delay(8000).hide(600);
        }
        else
        {
            $("#validaciones").hide();
        }
    });
</script>