@model IEnumerable<FoodDefence.Models.TRAMPA_CLIENTE_LOCACION_SECTOR>

<div>
    <table class="table table-bordered table-sm">
        <tr>
            <th class="priority-2">
                Cliente
            </th>
            <th class="priority-1">
                Locación
            </th>
            <th class="priority-1">
                Sector
            </th>
            <th class="priority-1">
                Trampa
            </th>
            <th class="priority-1">
                Número
            </th>
            <th class="priority-1"></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td class="priority-2">
                    @Html.DisplayFor(modelItem => item.CLIENTE_LOCACION_SECTOR.CLIENTE_LOCACION.CLIENTE.razonSocial)
                </td>
                <td class="priority-1">
                    @Html.DisplayFor(modelItem => item.CLIENTE_LOCACION_SECTOR.CLIENTE_LOCACION.descripcion)
                </td>
                <td class="priority-1">
                    @Html.DisplayFor(modelItem => item.CLIENTE_LOCACION_SECTOR.descripcion)
                </td>
                <td class="priority-1">
                    @Html.DisplayFor(modelItem => item.TRAMPA.TRAMPA_TIPO.descripcion)
                </td>
                <td class="priority-1">
                    @Html.DisplayFor(modelItem => item.TRAMPA.numero)
                </td>
                <td class="priority-1">
                    @*@Html.ActionLink("Editar", "Edit", "TRAMPA_CLIENTE_LOCACION_SECTOR", new { id = item.id }, new { @class = "btn btn-outline-dark" })*@
                    @if (item.fechaHasta == null)
                    {
                        @Html.ActionLink("Eliminar", "Delete", "TRAMPA_CLIENTE_LOCACION_SECTOR", new { id = item.id }, new { @class = "btn btn-outline-danger" })
                    }
                </td>
            </tr>
        }
    </table>
</div>